---
theme: {{ marp_theme }}
backgroundColor: {{ marp_backgroundColor }}
{% if marp_backgroundImage is defined %}
backgroundImage: url('{{ marp_backgroundImage }}')
{% endif %}
{% if marp_author is defined %}
author: {{ marp_author }}
{% endif %}
paginate: {{ marp_paginate }}
marp: true
{# Starting with effective slides #}
{% for slide in marp_slides %}
{% if slide.cover is defined and slide.cover | bool %}

---

{{ lookup('template', marp_cover_template, template_vars=dict(slide=slide)) }}
{% else %}

---

{{ lookup('template', marp_chapter_template, template_vars=dict(slide=slide)) }}

---

{% if marp_header is defined and marp_header | bool %}
<!-- header: '{{ marp_title }} | {{ marp_author }}' -->
{% endif %}
{% if marp_footer is defined and marp_footer | bool %}
<!-- footer: '{{ slide.chapter }} | {{ slide.title }}' -->
{% endif %}

{{ lookup('file', slide.content) }}
{% endif %}
{% endfor %}
