<!-- _backgroundImage: url({{ marp_chapter_background_image }}) -->
<!-- _header: '' -->
<!-- _footer: '' -->

# <span class="txt-yellow">{{ slide.title }}</span>

<span class="txt-yellow">{{ slide.chapter }}</span>
