<!-- _backgroundImage: url({{ marp_cover_background_image }}) -->
<!-- _header: '' -->
<!-- _footer: '<span class="txt-white">**{{ marp_author }}** | _{{ marp_copyright }}_</span>' -->

![bg right:50% height:400px]({{ marp_cover_image }})

![width:200px]({{ marp_cover_logo }})

# <span class="txt-white">{{ slide.title }}</span>

## <span class="txt-yellow">{{ slide.subtitle | replace("\n","<br>") }}</span>

<!-- You can also write down presenter notes in HTML comments. -->
